
@{
    ViewBag.Title = "Đã Khám";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Assets/CSS/ChucNang/ChucNang.css")
    <link href="~/Assets/CSS/ChucNang.css" rel="stylesheet" />
}


<div class="container">
    <div class="form-action-chung">
        <table id="xmxkxk222" style="margin-top:-2px" class="table">
            <tr>
                <th style="width:30px"></th>
                <th><p>Tên Bệnh Nhân</p></th>
                <th><p>Lần Khám</p></th>
                <th><p>Bác Sĩ</p></th>
                <th><p>Lý Do</p></th>
            </tr>
        </table>
    </div>
    <div class="tox">
        <button class="btn_class"><a href="~/ChucNang/HoSoBenhNhan">Quay Lại</a></button>
    </div>
</div>

